<%= form_for(@link) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title, :autofocus => 'autofocus' %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_area :tags, :value => @link.tags.map(&:name).join(' ') %>
  </div>
  <div class="actions">
	<%= f.hidden_field :id, :value => @link.id %>
    <%= f.submit %>
  </div>
<% end %>
