<%= form_for(@tag) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => 'autofocus' %>
  </div>
  <div class="actions">
	<%= f.hidden_field :id, :value => @tag.id %>
    <%= f.submit %>
  </div>
<% end %>
