<%= form_for(@tag) do |f| %>
  <div class="nuke">
    <%= link_to "nuke", tag_path, :method => :delete %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
