<%= form_for(@tag) do |f| %>
  <div class="nuke">
    <%= link_to "nuke", tag_path(@tag), :method => :delete %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
	<%= f.hidden_field :id, :value => @tag.id %>
    <%= f.submit %>
  </div>
<% end %>
