<!DOCTYPE html>
<html>
<head>
  <title>chyld.io</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <%= stylesheet_link_tag    "arc", :media => "all" %>
  <%= javascript_include_tag "arc" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="navbar">
				  <div class="navbar-inner">
				    <a class="brand" href="/tags">io</a>
				    <ul class="nav">
				      <li><a href="<%= root_path %>">Home</a></li>
				      <li><a href="<%= tags_path %>">Tags</a></li>
				      <li><a href="<%= books_path %>">Books</a></li>
				      <li><a href="<%= new_link_path %>">*link</a></li>
				      <li><a href="<%= new_note_path %>">*note</a></li>
				      <li><a href="<%= new_book_path %>">*book</a></li>
							<li><%= show_book_link(@book) %></li>
				    </ul>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<%= yield %>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</body>
</html>
