<!DOCTYPE html>
<html>
<head>
  <title>chyld.io</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <%= stylesheet_link_tag    "arc", :media => "all" %>
  <%= javascript_include_tag "arc" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="nav">
	  <li><a href="<%= root_path %>">Home</a></li>
		<li><a href="<%= tags_path %>">Tags</a></li>
		<li><a href="<%= books_path %>">Books</a></li>
		<li><a href="<%= new_link_path %>">*link</a></li>
		<li><a href="<%= new_note_path %>">*note</a></li>
		<li><a href="<%= new_book_path %>">*book</a></li>
		<li><%= show_book_link(@book) %></li>
	</ul>
	<%= yield %>

</body>
</html>
